body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  min-height: 100vh;
  margin: 0px;
}

.header {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  color: #f9faf8;
}

#head {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 500;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  padding: 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}

.showcase {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  justify-content: center;
  padding: 100px;
}

#showcase-column {
  display: flex;
  flex-direction: column;
}

#showcase-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  width: 500px;
}

#showcase-para {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
  width: 500px;
  margin: 14px 0;
}

#showcase-img {
  width: 30%;
  margin-left: 200px;
}

.signup {
  background-color: #3882f6;
  color: white;
  padding: 8px 26px;
  border-radius: 6px;
  border: none;
  width: 100px;
}

#cards-header {
  font-weight: bolder;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  margin: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.cards img {
  width: 150px;
  border-radius: 10px;
  margin: 16px;
}

.card-text {
  width: 150px;
  text-align: center;
  margin: 0px 16px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 180px;
}

.quote-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
  width: 680px;
}

#credits {
  margin-top: 10px; 
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  background-color: #3882f6;
  border-radius: 10px; 
  color: white;
  width: 800px;
  margin: 80px; 
}

.notify-body {
  padding: 40px; 
}

#notify-text {
  font-size: 12px;
  font-weight: 100;
}

.notify .signup {
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: white; 
  justify-content: center;
  align-items: center;
  padding: 32px; 
  font-weight:300;
  font-size: 14px;
}